# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Virtual Environments
**venv/
**Venv/
**.venv/
**.Venv/
**.env
**env/
venv/
env/
.venv/
.env/
agentZeroVenv/
aiderEnv/
packages/agent-zero/agentZeroVenv/
packages/aider/aiderEnv/
packages/MLX/mlxVenv
packages/agent-zero/work_dir
# Python
__pycache__/
*.py[cod]
*.so
.Python
develop-eggs/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
# .env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
Thumbs.db

philosophy.md

# IDE/Editor specific
.vscode/
.idea/
*.iml

# Config files
config.toml

# Log files
logs/
*.log

# Testing
/coverage/

# Db
db.sqlite
aider/work_dir
agent-zero/work_dir

.packages

# models

# aider
aider.code-workspace
*.pyc
.aider*
aider_chat.egg-info/
Gemfile.lock
_site
.jekyll-cache/
.jekyll-metadata

# agent-zero
**/.DS_Store
**/.env
**/__pycache__/

# Ignore all contents of the virtual environment directory
.venv/*

# Ignore all contents of the directory "work_dir"
work_dir/*
# But do not ignore the directory itself
!work_dir/.gitkeep

# Ignore all contents of the directory "memory"
memory/*
# But do not ignore the directory itself
!memory/.gitkeep

# Ignore all contents of the directory "logs"
logs/*
# But do not ignore the directory itself
!logs/.gitkeep
